name: Main Pull Request Tests

on:
  pull_request:
    branches:
      - 'main'
    paths-ignore:
      - '.github/**'
      - 'docs/**'
      - '**.md'

permissions:
  contents: read

jobs:
  setup-env:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.9'
          cache: 'pip'

      - name: Install
        run: make install

      - name: Lint Checker
        run: make lint

      - name: Tests
        run: make test

  # exp-integration-tests:
  #   continue-on-error: true
  #   runs-on: ubuntu-latest
  #   steps:
  #     - name: Checkout
  #       uses: actions/checkout@v3

  #     - name: Setup Python
  #       uses: actions/setup-python@v4
  #       with:
  #         python-version: '3.9'
  #         cache: 'pip'

  #     - name: Install
  #       run: make install

  #     - name: Run Integration Tests
  #       run: make test-all
  #       env:
  #         JAMF_PRO_HOST: ${{ vars.JAMF_PRO_HOST }}
  #         JAMF_PRO_CLIENT_ID: ${{ vars.JAMF_PRO_CLIENT_ID }}
  #         JAMF_PRO_CLIENT_SECRET: ${{ vars.JAMF_PRO_CLIENT_SECRET }}
