name: Publish Release to PyPI

on:
  workflow_dispatch:
    inputs:
      ref:
        description: The branch, tag, or commit SHA1 to build the release from.

jobs:

  pypi-publish:
    name: Upload a release to PyPI
    runs-on: ubuntu-latest
    environment: pypi-release
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          ref: ${{ inputs.ref }}

      - name: Setup Python
        uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
        with:
          python-version: '3.9'

      - name: Install pypa/build
        run: python3 -m  pip install -U build --user

      - name: Build Package
        run: make build

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@76f52bc884231f62b9a034ebfe128415bbaabdfc # v1.12.4
