name: Publish Release to PyPI

on:
  workflow_dispatch:
    inputs:
      ref:
        description: The branch, tag, or commit SHA1 to build the release from.

jobs:

  pypi-publish:
    name: Upload a release to PyPI
    runs-on: ubuntu-latest
    environment: pypi-release
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          ref: ${{ inputs.ref }}

      - name: Setup Python
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
        with:
          python-version: '3.9'

      - name: Install pypa/build
        run: python3 -m  pip install -U build --user

      - name: Build Package
        run: make build

      - name: Publish package distributions to PyPI
        uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e # v1.13.0
